@import "../../../helpers/variables.scss";

.header {
  background-color: #D9D9D9;
  height: 100vh;

    &__constainer {
      display: flex;
      justify-content: space-between;
      padding: 38px;
      align-items: center;
      text-align: center;
    }

    &__nav {
      display: flex;
      align-items: center;
      flex-direction: row;
      list-style: none;
      padding: 0;
      margin: 0;

      &--link {
        font-size: 18px;
        font-weight: 400;
        margin-left: 80px;
        text-decoration: none;
        cursor: pointer;
        color: $blackColor;
        text-align: center;
      }
    }

    &__profile {
      width: 30px;
      height: 30px;
      background-image: url("../../../img/ri_account-circle-line.svg");
      background-repeat: no-repeat;
      margin-left: 80px;
      background-size: contain;
    }
}